.info {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
  padding: 5px 10px;
  display: none;
  width: auto; /* 设置宽度自适应 */
}

.btn {
  position: absolute;
  top: 20px;
  left: 30px;
}

.desc {
  position: absolute;
  top: 50px;
  left: 30px;
  border: 1px solid #ccc;
  margin: 10px 0;
  min-height: 60px;
  color: #fff;
  padding: 20px;
}
